@import './reset.scss';
@import './mixins.scss';
$headers:   'Abhaya Libre', serif;
$content:  'Fira Sans', sans-serif;
$text-color-second: #272727;
$text-color-alt: #6709f5;
.site-container {
    @include flex();
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    max-width: 100%;
    font-size: 10px;

}

.header {
    @include flex();
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: white;
    z-index: 99999999;
    @include shadow();
}

.logotype {
    display: flex;
    align-items: center;
    padding-left: 2%;
    box-sizing: border-box;
    height: 100%;
    width: 30%;
    &__text {
        font-family: $headers;
        font-weight: 100;
        color: rgb(0, 0, 0);
        font-size: 4em;
        margin-left: 5%;
    }
    &__img {
        height: 70%;
    }
}
.navigation{
    @include flex();
    justify-content: space-around;
    width: 60%;
    height: 100%;
    &__item{
        color: $text-color-second;
        text-decoration: none;
        font-family: $content;
        font-size: 2em;
        transition-duration: 0.5s; 
        &:hover{
            color:$text-color-alt;
        }
    }
}
section{
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    @include flex();
    max-width: 100%;
  
}
.about-me{
    &__heading{
        font-size: 6.5em;
        margin-bottom: 3%;
        font-family: $headers;
    }

    &__content{
        padding: 20px;
        width: 40%;
        font-size: 3em;
        font-family: $content;
        text-align: justify;
        color: $text-color-second;
        border-bottom: 5px solid $text-color-alt;
        border-left: 5px solid $text-color-alt;
        line-height: 120%;
    }
}   

.skills{
    position: relative;
    &__heading{
        font-size: 6.5em;
        font-family: $headers;
        margin-bottom: 5%;
    }
    &__grid-container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,1fr);
        width: 70%;
        height: 60%;
        grid-gap:5%;
    }
    &__skill-tile{
        background-color: $text-color-alt;
        @include shadow();
        @include flex();
        color: #ffffff;
       
        i{
          
            font-size: 10em;
            
           
        }
    }
  
}
.exprience{
    &__heading{
        font-family: $headers;
        font-size: 6.5em;
        margin-bottom: 5%;
    }
    &__content{
        padding: 20px;
        width: 70%;
        font-family: $content;
        font-size: 3em;
        text-align: justify;
        color: $text-color-second;
        border-bottom: 5px solid $text-color-alt;
        border-left: 5px solid $text-color-alt;
        line-height: 120%;
    }
}
.contact{

    &__heading{
        font-size: 6.5em;
        font-family: $headers;
        margin-bottom: 5%;

    }
    &_container{
        @include flex();
        flex-direction: column;
        &__item{
            margin-bottom: 2vh;
            font-size: 3em;
            a{
                text-decoration: none;
            }
        }
    }
}
@media (max-width: 500px){
    .site-container{
        font-size: 5px;
    }
    .logotype__text{
        font-size: 3em
    }
    .navigation__item{
        color:red;
        font-size: 2em
    }
}